#bike-ul li img {
    height: 150px;
    width: 200px;
}
#bike-ul {
    display:flex;
    flex-wrap:wrap;
}
ul li {
    list-style-type: none;
}
#bike-ul li {
    border: 3px solid black;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
body {
    background-color: lightskyblue
}
#bike-ul li h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
#bike-ul li span {
    display: flex;
    justify-content: center;
    margin: 2px;
}
#bike-ul li button {
    border-radius: 2px;
    font-family: arial;
}

